.celdaNegra{
    background-color: black;
}
.celdaBlanca{
    background-color: white;
}
td{
    width: 50px;
    height: 50px;
    border: solid black 2px !important;
}
table{
    border: rgba(201, 130, 44) 5px solid;
}
